.DS_Store
node_modules
/dist
Context/
artemodular-6954d-firebase-adminsdk-fbsvc-3388715a07.json
# local env files
.env
.env.local
.firebaserc
database.rules.json
firebase.json
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
